.profile-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.profile-container h2 {
    margin-bottom: 20px;
}

.profile-container .form-control-plaintext {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: #f8f9fa;
}
.content {
    background-image: url('/images/background_topcontent.jpg'); /* Đường dẫn đến ảnh */
    background-repeat: no-repeat; /* Không lặp lại ảnh */
    background-size: cover; /* Đảm bảo ảnh phủ kín toàn bộ phần tử */
    background-color: #000; /* Màu nền dự phòng khi ảnh không phủ kín */
    width: 100%; /* Đảm bảo chiều rộng của phần tử là 100% */
    height: 100vh;
}